// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#services{
  background-color: gray;
}
#about_ben{
  background-color: white;
}
#giving_back{
  background-color: gray;
}
#testimonials{
  background-color: white;
}
