<h1>Ben's awesome plumbing website</h1>
<p>You should hire him for all your plumbing needs!</p>

<div class="nav">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Plumbing</a></li>
    <li><a href="">Gasfitting</a></li>
    <li><a href="">Testomonials</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</div>
