<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <!-- cause I can't stand looking at the empty image icon -->
          <!-- <img alt="Logo" src="..."> -->
          Logo
        </a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="">Home</a></li>
          <li><a href="">Services & Pricing</a></li>
          <li><a href="">Testomonials</a></li>
          <li><a href="">Giving back</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

</body>
