<!-- need to use scrollspy to make the scrolling go to the right place  -->
<!-- still don't know an out of the box way for padding sections correctly -->
<section id="services" class="pad-section">
  <div class="container">
      <div class="text-center">
        <h1>Our services</h1>
        <button class="btn btn-xlarge btn-success">
          See More
        </button>
    </div>
  </div>
</section>

<div id="about_ben" class="pad-section">
  <div class="container">
      <div class="text-center">
        <h1>About Ben</h1>
        <p>Ben is a qualified plumber and gasfitter based in Snell's Beach who has a wide range of experience working with many differnet clients. He prides himself on being able to navigate through all the technical information out there in order to help distil for you the perfect solution for your home.</p>
    </div>
  </div>
</div>

<div id="giving_back" class="pad-section">
  <div class="container">
      <div class="text-center">
        <h1>Giving Back</h1>
        <p>We donate 10% of all our profits to provide acess to clean water for people in developing countries.</p>
        <button class="btn btn-xlarge btn-success">
          Find out more
        </button>
    </div>
  </div>
</div>

<div id="testimonials" class="pad-section">
  <div class="container">
      <div class="text-center">
        <h1>Testimonials</h1>
        <p>"I really loved how Ben just swooped in and saved the day with my leaky sink!"</p>
        <button class="btn btn-xlarge btn-success">
          See all reviews
        </button>
    </div>
  </div>
</div>
